<h1>User Profile</h1>
<strong>Name: </strong>{{ user.name }}<br>
<strong>Bio: </strong>{{ user.bio }}<br>
<a href="{{ path('aboutpagemore', {'name': user.name}) }}">more</a>
<button data-href="{{ path('aboutpagemore', {'name': user.name}) }}">more</button>